<div class="banner" style="background-image: url(<%=image_path "CT.png"%>);">
  <div class="banner-content">
    <h1>Sizzzurp</h1>
    <p>Create your own cocktail</p>
    <div class="btn">
      <%= link_to 'Mix One', new_cocktail_path, :class => "btn-lg btn-danger" %>
    </div>
  </div>
</div>

<!-- <div class="wrapper"> -->
  <div class="container">
    <h2 class="text-center">Cocktails</h2>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="cards">
          <div class="card">
            <%= link_to image_tag("drink_pink_bg_lighter.png", class: "card-body"), cocktail_path(cocktail)%>
            <div class="card-category">
              <h3>
                <%= cocktail.name %>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
<!-- </div> -->


