<div class="text-center">
<h2>Add a dose!</h2>
</div>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
<div class="text-center">
<%= f.input :description,:input_html => {:maxlength => 15, :size => 15}%>
<%= f.input :ingredient_id, collection: @ingredients %>
<%= f.submit class: "btn btn-danger"%>
</div>
<% end %>
